In [1]:
import tushare as ts

print(ts.__version__)

1.2.85

In [2]:
# ts.set_token('5ceaf8729cc255b993583af797db66d5802a7034c94431ae08d85ff0')

In [3]:
pro = ts.pro_api()

# Example

In [4]:
# df = pro.trade_cal(exchange='', start_date='20180901', end_date='20181001', 
#                    fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [5]:
df = pro.query('trade_cal', exchange='', start_date='20180901', end_date='20181001', 
               fields='exchange,cal_date,is_open,pretrade_date', is_open='0')

In [6]:
df.head(5)

  exchange  cal_date  is_open pretrade_date
0      SSE  20180901        0      20180831
1      SSE  20180902        0      20180831
2      SSE  20180908        0      20180907
3      SSE  20180909        0      20180907
4      SSE  20180915        0      20180914

In [7]:
# 下载一只股票的全部数据
# def fetchklinedata(code):
#     filename = 'your path'
#     if not os.path.exists(filename):
#         end_date = datetime.strftime(datetime.now(), '%Y%m%d')#获取当前时间
#         outputflag = True
#         api = tushare.pro_api()
#         while outputflag:#循环判断，直到返还的数据为空
#            data=tushare.pro_bar(pro_api=api,ts_code=code,
#                                 end_date=end_date,asset='E',adj=None,freq='D')#请求本次数据
#             if data.empty == True:
#                 outputflag = False
#             else:
#                 #计算下次请求数据的截止日期
#                 next_end_date = datetime.strptime(data.iloc[-1]['trade_date'],
#                                                   '%Y%m%d') - timedelta(hours=24)
#                 end_date = datetime.strftime(next_end_date, '%Y%m%d')
#                 #写csv文件
#                 if os.path.exists(filename):
#                     data.to_csv(filename, header=None, mode='a')#追加写入模式
#                 else:
#                     data.to_csv(filename)

# 1. 沪深股票

## 1.1 基础数据

## Pro version:
Tushare的行情等时间序列数据，一般都有两个常用参数：`trade_date`和`ts_code`，分别是交易日期和证券代码。如果你是想提取部分个股的历史数据，用ts_code参数，加上开始和结束日期可以方便提取数据。

## stock_basic

获取基础信息数据，包括股票代码、名称、上市日期、退市日期等

In [8]:
data = pro.query('stock_basic', exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
data

        ts_code  symbol     name  area industry list_date
0     000001.SZ  000001     平安银行    深圳       银行  19910403
1     000002.SZ  000002      万科A    深圳     全国地产  19910129
2     000004.SZ  000004     ST国华    深圳     软件服务  19910114
3     000005.SZ  000005     ST星源    深圳     环境保护  19901210
4     000006.SZ  000006     深振业A    深圳     区域地产  19920427
...         ...     ...      ...   ...      ...       ...
4822  871981.BJ  871981     晶赛科技  None     None  20211115
4823  872925.BJ  872925     锦好医疗  None     None  20211025
4824  873169.BJ  873169     七丰精工  None     None  20220415
4825  873223.BJ  873223     荣亿精密  None     None  20220609
4826  689009.SH  689009  九号公司-WD    北京      摩托车  20201029

[4827 rows x 6 columns]

## trade_cal

获取各大交易所交易日历数据,默认提取的是上交所

In [9]:
df = pro.trade_cal(exchange='', start_date='20180101', end_date='20181231')
df

    exchange  cal_date  is_open pretrade_date
0        SSE  20180101        0      20171229
1        SSE  20180102        1      20171229
2        SSE  20180103        1      20180102
3        SSE  20180104        1      20180103
4        SSE  20180105        1      20180104
..       ...       ...      ...           ...
360      SSE  20181227        1      20181226
361      SSE  20181228        1      20181227
362      SSE  20181229        0      20181228
363      SSE  20181230        0      20181228
364      SSE  20181231        0      20181228

[365 rows x 4 columns]

## namechange

历史名称变更记录

In [10]:
df = pro.namechange(ts_code='600848.SH', fields='ts_code,name,start_date,end_date,change_reason')
df

     ts_code   name start_date  end_date change_reason
0  600848.SH   上海临港   20151118      None            改名
1  600848.SH   自仪股份   20070514  20151117          撤销ST
2  600848.SH   ST自仪   20061026  20070513          完成股改
3  600848.SH  SST自仪   20061009  20061025         未股改加S
4  600848.SH   ST自仪   20010508  20061008            ST
5  600848.SH   自仪股份   19940324  20010507            其他

## hs_const

获取沪股通、深股通成分数据

In [11]:
#获取沪股通成分
df1 = pro.hs_const(hs_type='SH') 

#获取深股通成分
df2 = pro.hs_const(hs_type='SZ')

In [12]:
df1.head(5)

     ts_code hs_type   in_date out_date is_new
0  601628.SH      SH  20141117     None      1
1  601099.SH      SH  20141117     None      1
2  601808.SH      SH  20141117     None      1
3  601107.SH      SH  20141117     None      1
4  601880.SH      SH  20141117     None      1

In [13]:
df2.head(5)

     ts_code hs_type   in_date out_date is_new
0  002910.SZ      SZ  20171114     None      1
1  000016.SZ      SZ  20180102     None      1
2  001872.SZ      SZ  20180102     None      1
3  000040.SZ      SZ  20180102     None      1
4  000401.SZ      SZ  20180102     None      1

## stock_company

获取上市公司基础信息，单次提取4500条，可以根据交易所分批提取

In [14]:
df = pro.stock_company(exchange='SZSE', fields='ts_code,chairman,manager,secretary,reg_capital,setup_date,province')
df

        ts_code chairman manager secretary  reg_capital setup_date province
0     300234.SZ      邢翰学     邢翰学        盛蕾   51142.4086   20030429       浙江
1     300395.SZ      吴学民     商春利        郑巍   50692.3266   19990122       湖北
2     300957.SZ      郭振宇     郭振宇        王龙   42360.0000   20100513       云南
3     300336.SZ      何君琦     何君琦       张津津   80623.0192   20041230       上海
4     002881.SZ       王平      王平        黄敏   23942.9451   20070405       广东
...         ...      ...     ...       ...          ...        ...      ...
2725  002619.SZ      朱雄春     朱雄春        李斐  184489.6231   20010626       浙江
2726  002729.SZ       陈修      芮斌       刘昊德   13069.2800   19920523       福建
2727  300082.SZ      朱建民     董振鹏        马帅   68009.8200   20000101       辽宁
2728  002636.SZ       韩涛      韩涛        程敬   72800.0000   20001019       上海
2729  300473.SZ       李毅     高国清        韩颖   13491.9498   20041112       辽宁

[2730 rows x 7 columns]

## new_share

获取新股上市列表数据

In [15]:
df = pro.new_share(start_date='20180901', end_date='20181018')
df

,ts_code,sub_code,name,ipo_date,issue_date,amount,market_amount,price,pe,limit_amount,funds,ballot
0,002939.SZ,002939,长城证券,20181017,20181026,31034.0,27931.0,6.31,22.98,9.30,19.582,0.16
1,002940.SZ,002940,昂利康,20181011,20181023,2250.0,2025.0,23.07,22.99,0.90,5.191,0.03
2,601162.SH,780162,天风证券,20181009,20181019,51800.0,46620.0,1.79,22.86,15.50,0.000,0.25
3,300760.SZ,300760,迈瑞医疗,20180927,20181016,12160.0,10944.0,48.80,22.99,3.60,59.341,0.08
4,300694.SZ,300694,蠡湖股份,20180927,20181015,5383.0,4845.0,9.89,22.98,2.15,5.324,0.04
5,300749.SZ,300749,顶固集创,20180913,20180925,2850.0,2565.0,12.22,22.99,1.10,3.483,0.03
6,002937.SZ,002937,兴瑞科技,20180912,20180926,4600.0,4140.0,9.94,22.99,1.80,4.572,0.04
7,601577.SH,780577,长沙银行,20180912,20180926,34216.0,30794.0,7.99,6.97,10.20,27.338,0.17
8,603583.SH,732583,捷昌驱动,20180911,20180921,3020.0,2718.0,29.17,22.99,1.20,8.809,0.03
9,002936.SZ,002936,郑州银行,20180907,20180919,60000.0,54000.0,4.59,6.50,18.00,27.540,0.25
10,603810.SH,732810,丰山集团,20180906,20180917,2000.0,2000.0,25.43,20.39,2.00,5.086,0.02
11,300748.SZ,300748,金力永磁,20180906,20180921,4160.0,3744.0,5.39,22.98,1.20,2.242,0.05
12,002938.SZ,002938,鹏鼎控股,20180905,20180918,23114.0,20803.0,16.07,22.99,6.90,37.145,0.12

## 1.2 行情数据

## daily

A股日线行情。 交易日每天15点～16点之间入库。本接口是未复权行情，停牌期间不提供数据

In [16]:
#多个股票
df = pro.daily(ts_code='000001.SZ,600000.SH', start_date='20180701', end_date='20180718')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,600000.SH,20180718,9.51,9.64,9.48,9.51,9.44,0.07,0.74,189227.00,180858.003
1,000001.SZ,20180718,8.75,8.85,8.69,8.70,8.72,-0.02,-0.23,525152.77,460697.377
2,000001.SZ,20180717,8.74,8.75,8.66,8.72,8.73,-0.01,-0.11,375356.33,326396.994
3,600000.SH,20180717,9.41,9.48,9.38,9.44,9.41,0.03,0.32,137134.95,129512.091
4,000001.SZ,20180716,8.85,8.90,8.69,8.73,8.88,-0.15,-1.69,689845.58,603427.713
5,600000.SH,20180716,9.50,9.54,9.34,9.41,9.49,-0.08,-0.84,144141.19,135697.106
6,600000.SH,20180713,9.57,9.58,9.46,9.49,9.47,0.02,0.21,150263.39,142708.347
7,000001.SZ,20180713,8.92,8.94,8.82,8.88,8.88,0.00,0.00,603378.21,535401.175
8,000001.SZ,20180712,8.60,8.97,8.58,8.88,8.64,0.24,2.78,1140492.31,1008658.828
9,600000.SH,20180712,9.41,9.61,9.39,9.57,9.38,0.19,2.03,197048.37,188206.858
10,000001.SZ,20180711,8.76,8.83,8.68,8.78,8.98,-0.20,-2.23,851296.70,744765.824
11,600000.SH,20180711,9.37,9.44,9.32,9.38,9.57,-0.19,-1.99,152039.33,142450.919
12,000001.SZ,20180710,9.02,9.02,8.89,8.98,9.03,-0.05,-0.55,896862.02,803038.965
13,600000.SH,20180710,9.61,9.65,9.50,9.57,9.60,-0.03,-0.31,124028.37,118668.133
14,000001.SZ,20180709,8.69,9.03,8.68,9.03,8.66,0.37,4.27,1409954.60,1255007.609
15,600000.SH,20180709,9.37,9.63,9.37,9.60,9.37,0.23,2.45,221725.65,212109.327
16,600000.SH,20180706,9.31,9.43,9.17,9.37,9.26,0.11,1.19,225944.43,210564.106
17,000001.SZ,20180706,8.61,8.78,8.45,8.66,8.60,0.06,0.70,988282.69,852071.526
18,600000.SH,20180705,9.26,9.35,9.22,9.26,9.31,-0.05,-0.54,164954.38,152978.661
19,000001.SZ,20180705,8.62,8.73,8.55,8.60,8.61,-0.01,-0.12,835768.77,722169.579
20,600000.SH,20180704,9.34,9.42,9.28,9.31,9.35,-0.04,-0.43,144647.77,135000.876
21,000001.SZ,20180704,8.63,8.75,8.61,8.61,8.67,-0.06,-0.69,711153.37,617278.559
22,000001.SZ,20180703,8.69,8.70,8.45,8.67,8.61,0.06,0.70,1274838.57,1096657.033
23,600000.SH,20180703,9.29,9.38,9.20,9.35,9.29,0.06,0.65,241235.51,224816.757
24,600000.SH,20180702,9.55,9.55,9.23,9.29,9.56,-0.27,-2.82,226690.89,212743.905
25,000001.SZ,20180702,9.05,9.05,8.55,8.61,9.09,-0.48,-5.28,1315520.13,1158545.868

## weekly

获取A股周线行情

In [17]:
df = pro.weekly(ts_code='000001.SZ', start_date='20180101', end_date='20181101', 
                fields='ts_code,trade_date,open,high,low,close,vol,amount')
df

,ts_code,trade_date,close,open,high,low,vol,amount
0,000001.SZ,20181026,11.18,10.81,11.46,10.71,9.062500e+08,1.002282e+10
1,000001.SZ,20181019,10.76,10.39,10.78,9.92,7.235320e+08,7.482596e+09
2,000001.SZ,20181012,10.30,10.70,10.79,9.70,7.257597e+08,7.483906e+09
3,000001.SZ,20180928,11.05,10.52,11.27,10.48,5.458134e+08,5.904901e+09
4,000001.SZ,20180921,10.67,9.80,10.70,9.68,5.120305e+08,5.225262e+09
5,000001.SZ,20180914,9.84,10.01,10.10,9.81,3.534262e+08,3.501724e+09
6,000001.SZ,20180907,10.01,10.09,10.55,9.93,4.708304e+08,4.796533e+09
7,000001.SZ,20180831,10.13,10.02,10.43,9.97,6.715868e+08,6.858804e+09
8,000001.SZ,20180824,10.03,8.90,10.28,8.87,6.697714e+08,6.358840e+09
9,000001.SZ,20180817,8.81,9.12,9.16,8.64,3.206923e+08,2.854248e+09
10,000001.SZ,20180810,9.23,8.94,9.35,8.88,3.054339e+08,2.787629e+09
11,000001.SZ,20180803,8.91,9.32,9.50,8.88,3.648566e+08,3.363448e+09
12,000001.SZ,20180727,9.25,9.04,9.59,9.00,5.170189e+08,4.826484e+09
13,000001.SZ,20180720,9.11,8.85,9.20,8.61,3.806004e+08,3.371040e+09
14,000001.SZ,20180713,8.88,8.69,9.03,8.58,4.901984e+08,4.346872e+09
15,000001.SZ,20180706,8.66,9.05,9.05,8.45,5.125564e+08,4.446723e+09
16,000001.SZ,20180629,9.09,9.91,9.92,8.87,5.150576e+08,4.764107e+09
17,000001.SZ,20180622,9.85,10.05,10.15,9.76,3.827401e+08,3.800475e+09
18,000001.SZ,20180615,10.17,10.06,10.29,9.92,4.280360e+08,4.315074e+09
19,000001.SZ,20180608,10.12,10.23,10.46,10.06,4.324341e+08,4.424459e+09
20,000001.SZ,20180601,10.19,10.58,10.66,10.02,4.167914e+08,4.280512e+09
21,000001.SZ,20180525,10.59,11.07,11.11,10.55,3.625909e+08,3.897568e+09
22,000001.SZ,20180518,10.96,11.09,11.23,10.76,3.587800e+08,3.947275e+09
23,000001.SZ,20180511,11.01,10.70,11.15,10.64,4.300377e+08,4.705948e+09
24,000001.SZ,20180504,10.68,10.97,11.03,10.57,3.182388e+08,3.429873e+09
25,000001.SZ,20180427,10.85,11.30,11.94,10.63,6.845706e+08,7.769357e+09
26,000001.SZ,20180420,11.35,11.47,11.69,11.03,6.012632e+08,6.824983e+09
27,000001.SZ,20180413,11.57,10.80,11.92,10.73,7.035101e+08,8.082163e+09
28,000001.SZ,20180404,10.87,10.87,11.01,10.51,3.602551e+08,3.880409e+09
29,000001.SZ,20180330,10.90,11.15,11.20,10.55,5.669332e+08,6.203168e+09
30,000001.SZ,20180323,11.34,11.66,12.12,10.92,5.839767e+08,6.794436e+09
31,000001.SZ,20180316,11.64,12.15,12.22,11.64,5.105241e+08,6.080941e+09
32,000001.SZ,20180309,12.09,11.93,12.34,11.77,4.965548e+08,5.985965e+09
33,000001.SZ,20180302,11.95,12.77,12.85,11.85,5.095855e+08,6.233384e+09
34,000001.SZ,20180223,12.61,12.25,12.79,12.25,2.282069e+08,2.851748e+09
35,000001.SZ,20180214,12.00,11.78,12.21,11.56,3.391151e+08,4.032539e+09
36,000001.SZ,20180209,11.69,13.80,14.57,11.38,1.322335e+09,1.750926e+10
37,000001.SZ,20180202,14.05,14.05,14.30,13.53,8.115143e+08,1.129147e+10
38,000001.SZ,20180126,14.05,14.60,15.08,14.00,1.145692e+09,1.660992e+10
39,000001.SZ,20180119,14.80,13.51,15.13,13.50,1.294241e+09,1.865851e+10
40,000001.SZ,20180112,13.55,13.25,13.68,12.86,8.704112e+08,1.152740e+10
41,000001.SZ,20180105,13.30,13.35,13.93,13.13,8.108913e+08,1.092060e+10

## monthly

获取A股月线数据

In [18]:
df = pro.monthly(ts_code='000001.SZ', start_date='20180101', end_date='20181101', 
                 fields='ts_code,trade_date,open,high,low,close,vol,amount')
df

,ts_code,trade_date,close,open,high,low,vol,amount
0,000001.SZ,20181031,10.91,10.70,11.46,9.70,2.780156e+09,2.960878e+10
1,000001.SZ,20180928,11.05,10.09,11.27,9.68,1.882100e+09,1.942842e+10
2,000001.SZ,20180831,10.13,9.42,10.43,8.64,2.189687e+09,2.088672e+10
3,000001.SZ,20180731,9.42,9.05,9.59,8.45,2.043028e+09,1.832737e+10
4,000001.SZ,20180629,9.09,10.15,10.46,8.87,1.817989e+09,1.791251e+10
5,000001.SZ,20180531,10.18,10.97,11.23,10.02,1.826718e+09,1.965278e+10
6,000001.SZ,20180427,10.85,10.87,11.94,10.51,2.349599e+09,2.655691e+10
7,000001.SZ,20180330,10.90,11.92,12.34,10.55,2.312997e+09,2.692560e+10
8,000001.SZ,20180228,12.05,13.95,14.57,11.38,2.562447e+09,3.322504e+10
9,000001.SZ,20180131,14.05,13.35,15.13,12.86,4.614538e+09,6.454870e+10

## pro_bar

A股复权行情 (日线，周线，月线)

In [19]:
# 日线复权

#取000001的前复权行情
df1 = ts.pro_bar(ts_code='000001.SZ', adj='qfq', start_date='20180101', end_date='20181011')

#取000001的后复权行情
df2 = ts.pro_bar(ts_code='000001.SZ', adj='hfq', start_date='20180101', end_date='20181011')

In [20]:
df1

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181011,10.0500,10.1600,9.7000,9.8600,10.4500,-0.5900,-5.6459,1995143.83,1994186.611
1,000001.SZ,20181010,10.5400,10.6600,10.3800,10.4500,10.5600,-0.1100,-1.0417,995200.08,1045666.180
2,000001.SZ,20181009,10.4600,10.7000,10.3900,10.5600,10.4500,0.1100,1.0526,1064084.26,1117946.550
3,000001.SZ,20181008,10.7000,10.7900,10.4500,10.4500,11.0500,-0.6000,-5.4299,1686358.52,1793455.283
4,000001.SZ,20180928,10.7800,11.2700,10.7800,11.0500,10.7400,0.3100,2.8864,2110242.67,2331358.288
...,...,...,...,...,...,...,...,...,...,...,...
182,000001.SZ,20180108,13.0388,13.0782,12.6550,12.7534,13.0880,-0.3346,-2.5565,2158620.81,2806099.169
183,000001.SZ,20180105,12.9994,13.1372,12.9404,13.0880,13.0388,0.0492,0.3773,1210312.72,1603289.517
184,000001.SZ,20180104,13.1077,13.1569,12.9207,13.0388,13.1175,-0.0787,-0.6000,1854509.48,2454543.516
185,000001.SZ,20180103,13.5111,13.6391,12.9896,13.1175,13.4816,-0.3641,-2.7007,2962498.38,4006220.766
186,000001.SZ,20180102,13.1372,13.7080,13.1077,13.4816,13.0880,0.3936,3.0073,2081592.55,2856543.822

In [21]:
df2

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20181011,1085.7116,1097.5950,1047.9007,1065.1857,1128.9239,-63.7382,-5.6459,1995143.83,1994186.611
1,000001.SZ,20181010,1138.6467,1151.6105,1121.3618,1128.9239,1140.8074,-11.8835,-1.0417,995200.08,1045666.180
2,000001.SZ,20181009,1130.0043,1155.9317,1122.4421,1140.8074,1128.9239,11.8835,1.0526,1064084.26,1117946.550
3,000001.SZ,20181008,1155.9317,1165.6545,1128.9239,1128.9239,1193.7426,-64.8187,-5.4299,1686358.52,1793455.283
4,000001.SZ,20180928,1164.5742,1217.5094,1164.5742,1193.7426,1160.2529,33.4897,2.8864,2110242.67,2331358.288
...,...,...,...,...,...,...,...,...,...,...,...
182,000001.SZ,20180108,1408.5942,1412.8466,1367.1337,1377.7646,1413.9097,-36.1451,-2.5564,2158620.81,2806099.169
183,000001.SZ,20180105,1404.3419,1419.2251,1397.9633,1413.9097,1408.5942,5.3155,0.3774,1210312.72,1603289.517
184,000001.SZ,20180104,1416.0359,1421.3513,1395.8372,1408.5942,1417.0990,-8.5048,-0.6002,1854509.48,2454543.516
185,000001.SZ,20180103,1459.6226,1473.4427,1403.2788,1417.0990,1456.4333,-39.3343,-2.7007,2962498.38,4006220.766
186,000001.SZ,20180102,1419.2251,1480.8844,1416.0359,1456.4333,1413.9097,42.5236,3.0075,2081592.55,2856543.822

## adj_factor

获取股票复权因子，可提取单只股票全部历史复权因子，也可以提取单日全部股票的复权因子。

In [22]:
#提取2018年7月18日复权因子
df = pro.adj_factor(ts_code='', trade_date='20180718')

In [23]:
df

        ts_code trade_date  adj_factor
0     000001.SZ   20180718     108.031
1     000002.SZ   20180718     137.300
2     000004.SZ   20180718       4.064
3     000005.SZ   20180718       9.268
4     000006.SZ   20180718      34.226
...         ...        ...         ...
3600  839729.BJ   20180718       1.048
3601  839946.BJ   20180718       1.027
3602  870436.BJ   20180718       1.000
3603  871396.BJ   20180718       1.094
3604  871642.BJ   20180718       1.000

[3605 rows x 3 columns]

##  daily_basic

获取全部股票每日重要的基本面指标，可用于选股分析、报表展示等。

In [24]:
# df = pro.daily_basic(ts_code='', trade_date='20180726', fields='ts_code,trade_date,turnover_rate,volume_ratio,pe,pb')
# df

## hsgt_top10

获取沪股通、深股通每日前十大成交详细数据，每天18~20点之间完成当日更新

In [25]:
pro.hsgt_top10(trade_date='20180725', market_type='1')

,trade_date,ts_code,name,close,change,rank,market_type,amount,net_amount,buy,sell
0,20180725,600009.SH,上海机场,62.69,2.0677,9,1,240958518.0,31199144.0,136078831.0,104879687.0
1,20180725,600019.SH,宝钢股份,8.62,0.9368,7,1,245582396.0,81732606.0,163657501.0,81924895.0
2,20180725,600036.SH,招商银行,28.22,1.6937,10,1,240655550.0,142328622.0,191492086.0,49163464.0
3,20180725,600276.SH,恒瑞医药,71.89,1.2393,5,1,329472455.0,-71519443.0,128976506.0,200495949.0
4,20180725,600519.SH,贵州茅台,743.81,-0.2133,2,1,508590993.0,226149667.0,367370330.0,141220663.0
5,20180725,600585.SH,海螺水泥,38.23,-0.4427,3,1,357946144.0,51215890.0,204581017.0,153365127.0
6,20180725,600690.SH,青岛海尔,18.09,0.0000,8,1,243840019.0,-55595149.0,94122435.0,149717584.0
7,20180725,600887.SH,伊利股份,27.54,-1.7131,6,1,296552611.0,-40273759.0,128139426.0,168413185.0
8,20180725,601318.SH,中国平安,62.16,0.6803,1,1,534002916.0,287838388.0,410920652.0,123082264.0
9,20180725,601888.SH,中国国旅,74.19,5.5184,4,1,342115066.0,-63262966.0,139426050.0,202689016.0

# 2. 指数

## index_basic

获取指数基础信息

In [26]:
df = pro.index_basic(market='SW')
df

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,801001.SI,申万50,SW,申万研究,其他,19991230,1000.0,None
1,801002.SI,申万中小板,SW,申万研究,其他,20040705,1000.0,None
2,801003.SI,申万A股,SW,申万研究,其他,19991230,1000.0,None
3,801004.SI,申万股改指数,SW,申万研究,其他,20050815,1000.0,None
4,801005.SI,申万创业板,SW,申万研究,其他,20091105,1000.0,20091106
...,...,...,...,...,...,...,...,...
502,857344.SI,线缆部件及其他(申万),SW,申万研究,三级行业指数,19991230,1000.0,20140221
503,857411.SI,航天装备Ⅲ(申万),SW,申万研究,三级行业指数,19991230,1000.0,20140221
504,857421.SI,航空装备Ⅲ(申万),SW,申万研究,三级行业指数,19991230,1000.0,20140221
505,857431.SI,地面兵装Ⅲ(申万),SW,申万研究,三级行业指数,19991230,1000.0,20140221
506,858811.SI,其他交运设备Ⅲ(申万),SW,申万研究,三级行业指数,19991230,1000.0,20140221